<div class="container mt-5">
    <h4>My Upcoming events:</h4>
    <% @upcoming.each do |event| %>
        <ul class="list-group">
            <li class="list-group-item"><h2> <%= event.name%></h2></li>
        </ul>
    <% end %>

    <h4 class="mt-3">My Prevoius events:</h4>
    <% @previous.each do |event| %>
        <ul class="list-group">
            <li class="list-group-item"><h2> <%= event.name%></h2></li>
        </ul>
    <% end %>
</div>