<div class="container mt-5">
    <h4>My Upcoming events:</h4>
    <% current_user.invites.each do |invite| %>
        <h2> <%= Event.find_by(id: invite.attended_event_id).name %> </h2>
    <% end %>
</div>