<div class="container mt-5">
    <h4>My Upcoming events:</h4>
    <% current_user.invites.each do |invite| %>
        <ul class="list-group">
            <li class="list-group-item"><h2> <%= invite.attended_event.name%></h2></li>
        </ul>
    <% end %>
</div>